@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: "lastochka"; 
  src: url("./ofont.ru_Lastochka.ttf"); 
} 
@font-face { 
  font-family: "Czizh"; 
  src: url("./ofont.ru_Czizh.ttf"); 
} 
@font-face { 
  font-family: "Cruinn"; 
  src: url("./ofont.ru_PetersburgITT.ttf"); 
} 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

