.guest_form {
}
.guest_form>img{
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 70%;
}
.guest_form>label{
    display: inline-block;
    opacity: 0.6;
    margin-bottom: 20px;
}

.guest_form__body {
    margin: 0 auto;
    text-align: start;
    @apply md:w-[50%];
}
.guest_form__title {
    margin-bottom: 5px;
}
.guest_form__item {
    margin-bottom: 20px;
}
.guest_form__input {
    width: 100%;
    border: 1px solid #146b18;
    padding: 10px;
    background: transparent;
}
.guest_form__input:focus-visible {
    outline-width: 0;
    border: 1px solid #146b18;
    box-shadow: 0 0 0 1px #146b18;
}
.options {
}
.options__item {
    margin-bottom: 5px;
}
.options__input {
}
.options__label {
    margin-left: 5px;
}
.guest_form__button {
    width: 100%;
    border: 1px solid #146b18;
    padding: 10px;
}
.guest_form__button:hover {
    background-color: #146b18;
    color: white;
}
.guest_form__button:disabled {
    opacity: 0.5;
}
.info-block{
    margin-bottom: 4px;
    /* display: none; */
    
}
.info-block__validate{
    color: red;
}
.validate{
    border: 1px solid  red;
}
.info-block__visible{
    display: none;
}

